## Day 1
We're back for more exciting python fun. I'm starting a job soon where I'll be allowed to use this language so I'm going to practice here a bit beforehand. I'll try to use as many numpy and pandas functions/objects as this is probably what will be most useful for me to learn.

The first puzzle looks easy which is unsurprising. We're asked to take a long list of numbers, find a consequtive pair that add to 2020, and then multiply them as the solution.

In [67]:
import numpy as np
import pandas as pd
# Alright let's get this list loaded:
expenses = np.genfromtxt('../inputs/d1.txt')
expenses = expenses.astype('i')
expenses[:5]

array([1632, 1438, 1811, 1943, 1883], dtype=int32)

In [68]:
print(expenses.dtype)
len(expenses)

int32

200

Wonder if there are any duplicates:

In [69]:
expenses = np.sort(np.unique(expenses))
print(len(expenses))
expenses[:5]

200

array([ 81, 352, 358, 435, 505], dtype=int32)

Nope. Okay I think we'll just try this one with a double for loop? Maybe we'll consider another method after

In [70]:
stop = 0
for i in range(len(expenses)-1):
    if(stop == 1):
        break
    for j in range(i+1, len(expenses)):
        if expenses[i] + expenses[j] > 2020:
            break
        elif expenses[i] + expenses[j] < 2020:
            continue
        else:
            print('idices '+ str(i) + ' and ' + str(j) + ' have a product of ' + str(expenses[i]*expenses[j]))
            stop = 1
            break

idices 0 and 173 have a product of 157059

In [72]:
expenses[0] + expenses[173]

2020

So... wondering if there is a NP style method of doing this.... Maybe there is a way to make a data set of the cross join and then filter it:

In [87]:
expenses_df = pd.DataFrame({'expense':expenses, 'i' : 1})
expenses_df = expenses_df.merge(expenses_df.rename(columns = {'expense':'expense2'}))
expenses_df = expenses_df.query('expense + expense2 == 2020').query('expense < expense2').drop('i', 1)
expenses_df['product'] = expenses_df.expense*expenses_df.expense2
expenses_df.head()

     expense  expense2  product
173       81      1939   157059

### Part 2

Now we're asked to find a trio of numbers that sum to 2020:

In [90]:
expenses_df = pd.DataFrame({'expense':expenses, 'i' : 1})
expenses_df2 = expenses_df.merge(expenses_df.rename(columns = {'expense':'expense2'}))

# maybe we'll filter as we go since the result will be huge:
expenses_df2 = expenses_df2.query('expense + expense2 < 2020').query('expense < expense2')
expenses_df2 = expenses_df2.merge(expenses_df.rename(columns = {'expense':'expense3'}))
expenses_df2 = expenses_df2.query('expense + expense2 + expense3 == 2020').query('expense2 < expense3')
expenses_df2['product'] = expenses_df2.expense*expenses_df2.expense2*expenses_df2.expense3
expenses_df2.head()

       expense  i  expense2  expense3    product
34412      352  1       358      1310  165080960