## [Day 10](https://adventofcode.com/2020/day/10)

For this question we have a series of numbers and are interested in ordering them so that the gaps between them are at least 1 and and most 3. My interpretation of this is that it's possible that not all the values will be usable but we will see.

In [150]:
import pandas as pd
import numpy as np

adapters = np.genfromtxt('../inputs/d10.txt', dtype = 'int64')
adapters = pd.Series(adapters)
adapters[:5]

0      8
1     40
2     45
3     93
4    147
dtype: int64

I'm kinda frustrated by the fact that there doesn't seem to be a way to store NaN in an integer series. I see that there is some mention of experimental stuff where you list it as `Int64` instead of `int64` but that doesn't seem to be working here.

So I think we can just sort these, compute the lagged difference, and then see if any the differences are beyond the 'connection' range.

In [151]:
adapters = adapters.sort_values()
adapters = adapters.append(pd.Series([max(adapters)+3]))
adapters = pd.Series([0], dtype = 'int64').append(adapters).reset_index(drop = True)
lags = np.roll(adapters.copy(), -1)
lags = lags-adapters
pd.DataFrame({'adapter': adapters[:10], 'lag': lags[:10]})

   adapter  lag
0        0    1
1        1    1
2        2    3
3        5    1
4        6    1
5        7    1
6        8    1
7        9    3
8       12    3
9       15    1

In [152]:
lags.value_counts()

 1      71
 3      27
-152     1
dtype: int64

In [143]:
lags[len(lags)-1]

-152

In [144]:
lags.value_counts()[1]*(lags.value_counts()[3])

1917

In [83]:
# 1917
# 26*71

### Part 2

The second part of this looks considerably more challenging and I got some whiff of this from post titles on the subreddit. We're asked to count up the number of ways that subsets of these adapters can be chained together and still function. We're given some warning about how we should try to be *efficient* in counting these which scares me as my programs are always so slow.
  
It seems like the most important thing to note is that when we have a gap of three in the previous sequence, each side of the gap is required to build the chain. If not, there would be a gap of four or more and we could not connect to the end. With this in mind, we could use these pairs of values as anchors to subdivide the data into sequences between these anchors.

The sub sequeneces will just be counts of 1 unit gaps and then we can figure out how to compute the number of combinations by brute force, store them in a dictionary and save some time through that.

In [167]:
# So we'll go through the list and start to subdivide at points where the lag to next is 3
all_runs = []
current_run = 0
i = 1
while i < len(adapters):
    # end or start or run:
    if lags[i] == 3 or lags[i-1] == 3:
        if current_run > 0:
            all_runs.append(current_run)
            current_run = 0  
    # middle of run
    elif lags[i] == 1:
        current_run += 1
    # EOF
    else:
        if current_run > 0:
            all_runs.append(current_run)
        break
    i += 1

In [168]:
all_runs

[1, 3, 3, 3, 2, 3, 1, 2, 2, 3, 3, 3, 3, 3, 2, 1, 3, 3, 2, 3]

In [169]:
pd.DataFrame({'adapter': adapters, 'lag': lags}).head(15)

    adapter  lag
0         0    1
1         1    1
2         2    3
3         5    1
4         6    1
5         7    1
6         8    1
7         9    3
8        12    3
9        15    1
10       16    1
11       17    1
12       18    1
13       19    3
14       22    1

This is actually a lot easier than I had expected. We don't have any examples with more than three so these simple to count. In each case except for x=3, its $2^x$. In the last case, we just can't have the possibility that we don't use any of them because that would create a gap of more than 3

In [170]:
permutes = [2**x if x < 3 else 7 for x in all_runs]
tot = 1
for perm in permutes:
    tot *= perm
tot

113387824750592

Welp I'm pretty pleased with that. I feel like my math background made that a lot easier. The only thing I botched on the second part was forgetting that we cannot consider sequences where we remove the 0th entry.