## [Day 16](https://adventofcode.com/2020/day16)

Alrighty then. The next assignment gives us some instructions for a valid ticket. We're given a set of characteristics and ranges of values they could occupy. The first one just asks us about which values in the below tickets could not occupy *any* of the ticket characteristics. My suspicion is that the second part will ask some thing about the 'your ticket' and what the arrangement of the values is with the seat/row/zone ect.

In [14]:
import pandas as pd
import numpy as np
import re, itertools

with open('../inputs/d16.txt') as imp:
    tickets = imp.read().splitlines()
tickets[:30]

['departure location: 42-570 or 579-960',
 'departure station: 45-101 or 118-967',
 'departure platform: 36-374 or 394-958',
 'departure track: 48-212 or 233-950',
 'departure date: 41-481 or 492-953',
 'departure time: 38-266 or 274-955',
 'arrival location: 32-560 or 567-951',
 'arrival station: 44-738 or 762-970',
 'arrival platform: 40-675 or 685-949',
 'arrival track: 25-320 or 344-954',
 'class: 32-806 or 815-959',
 'duration: 38-121 or 129-958',
 'price: 35-692 or 706-957',
 'route: 36-890 or 901-951',
 'row: 35-282 or 288-964',
 'seat: 35-445 or 469-954',
 'train: 45-294 or 317-968',
 'type: 44-240 or 265-960',
 'wagon: 32-816 or 825-971',
 'zone: 30-629 or 637-968',
 '',
 'your ticket:',
 '79,149,97,163,59,151,101,89,173,139,167,61,73,71,137,53,83,157,131,67',
 '',
 'nearby tickets:',
 '945,134,238,221,801,428,519,660,523,537,481,156,845,873,52,172,918,179,188,77',
 '689,374,471,415,317,722,768,556,557,526,812,508,673,350,481,525,915,788,374,655',
 '350,537,762,88,926,71,629,611,356,515,413,947,935,826,770,487,358,716,688,907',
 '767,512,167,728,581,539,819,427,869,709,936,841,275,765,419,275,75,147,790,780',
 '662,791,783,858,920,77,924,627,151,349,131,130,880,191,816,357,675,69,51,756']

So I guess I'll just start by getting a ticket list, my ticket, and the sets of instructions. I am thinking that we will have to re-munge the data later for part 2 but I can't predict how so let's ignore it!

In [15]:
# Let's copy our regular expression syntax from that other one to capture the ticket characteristics
# first. Maybe this will be useful later:
features, lowers, uppers = [], [], []
for i in range(len(tickets)):
    m = re.match(r"(?P<feature>[a-zA-Z]+ ?[a-zA-Z]*): (?P<lower>\d+-\d+) or (?P<upper>\d+-\d+)", tickets[i])
    if m:
        features.append(m.group('feature'))
        lowers.append(m.group('lower'))
        uppers.append(m.group('upper'))
    else:
        break
features

['departure location',
 'departure station',
 'departure platform',
 'departure track',
 'departure date',
 'departure time',
 'arrival location',
 'arrival station',
 'arrival platform',
 'arrival track',
 'class',
 'duration',
 'price',
 'route',
 'row',
 'seat',
 'train',
 'type',
 'wagon',
 'zone']

So I solved a problem kind of like this for a job but it will be good to try a problem like this with python. Again, this absolutely does not need pandas but let's do it anyways!!! What I'm going to do for part 1 is just form a single data set of the bounds, sort it, and then start to merge the rows if they overlap to make a more succinct set of possible values:

In [3]:
lowers2 = [int(x.split('-')[0]) for x in lowers]
uppers2 = [int(x.split('-')[1]) for x in lowers]
lowers = [int(x.split('-')[0]) for x in uppers]
uppers = [int(x.split('-')[1]) for x in uppers]
bounds_df = pd.DataFrame(
    {'feature':features, 
     'lower':lowers2, 
     'upper':uppers2, 
     'lower2':lowers, 
     'upper2':uppers}
    )
# Yeah... I gotta figure out how to do those multi-liners better
bounds_df.head()

              feature  lower  upper  lower2  upper2
0  departure location     42    570     579     960
1   departure station     45    101     118     967
2  departure platform     36    374     394     958
3     departure track     48    212     233     950
4      departure date     41    481     492     953

Now get the nearby tickets into a data frame:

In [4]:
# Let's see if we can get a long version of nearby tickets 
nearby_tickets = tickets[tickets.index('nearby tickets:')+1:]
tickets_df = pd.DataFrame({'ticket_num':[], 'feature_id':[], 'value':[]})
tickets_df = tickets_df.astype('int')
for ticket_num, ticket in enumerate(nearby_tickets):
    values = [int(x) for x in ticket.split(',')]
    new_ticket = pd.DataFrame({
        'ticket_num':ticket_num,
        'feature_id':list(range(len(values))),
        'value':values
    })
    tickets_df = pd.concat([tickets_df, new_ticket], axis = 0)
tickets_df.reset_index(drop = True, inplace = True)
tickets_df

      ticket_num  feature_id  value
0              0           0    945
1              0           1    134
2              0           2    238
3              0           3    221
4              0           4    801
...          ...         ...    ...
4795         239          15     23
4796         239          16    845
4797         239          17    552
4798         239          18    826
4799         239          19     93

[4800 rows x 3 columns]

Well gollee, we did our own `melt`.

Last piece is:
1. Cross join the nearby tickets and bounds
2. Apply a filter on the values being out of range
3. Group by the ticket num & feature ID
4. Count, filter those with less than the max feature ID
4. Sum the values

In [5]:
# see if we can fancy pants it
max_tickets = tickets_df.feature_id.max() + 1
ticket_counts = (tickets_df.assign(key = 1)
                 .merge(bounds_df.assign(key = 1))
                 .query('value < lower or value > upper2 or (upper < value < lower2)')
                 .assign(n = 1)
                 [['ticket_num', 'feature_id', 'value', 'n']]
                 .groupby(['ticket_num', 'feature_id', 'value'])
                 .count()
                 .reset_index()
                )
ticket_counts

     ticket_num  feature_id  value   n
0             0           3    221   1
1             1          10    812   1
2             2          15    487   1
3             3           6    819   1
4             4          19    756   1
..          ...         ...    ...  ..
235         235           1    758   1
236         236           1    467   1
237         237           0    897   1
238         238          15    283   1
239         239          15     23  20

[240 rows x 4 columns]

In [6]:
ticket_counts[ticket_counts.n == max_tickets].value.sum()

24980

### Part 2

As I suspected, we now need to use the different zones. Our instructions tell us to first discard the invalid tickets and then add our own to the bunch. Then we must find the matching between features and feature_ids.

Let's just start by getting the remaining tickets into a shape. Remove the old tickets and add ours:

In [7]:
invalid_tickets = ticket_counts[ticket_counts.n == max_tickets].ticket_num.drop_duplicates()
tickets_df = tickets_df[~tickets_df.ticket_num.isin(invalid_tickets)]

# now add ours:
our_ticket = tickets[tickets.index('your ticket:')+1]
our_ticket
our_ticket = [int(x) for x in our_ticket.split(',')]
our_ticket = pd.DataFrame({
    'ticket_num' : -1,
    'feature_id' : list(range(len(our_ticket))),
    'value' : our_ticket
})

tickets_df = pd.concat([our_ticket, tickets_df], axis = 0).reset_index(drop = True)
tickets_df

      ticket_num  feature_id  value
0             -1           0     79
1             -1           1    149
2             -1           2     97
3             -1           3    163
4             -1           4     59
...          ...         ...    ...
3815         238          15    283
3816         238          16    172
3817         238          17    833
3818         238          18    942
3819         238          19    712

[3820 rows x 3 columns]

So I'm not entirely sure how to approach this efficiently but the first thought was just to create a data frame that has all the permuatations of the features, slap on the feature_id, join with the remaining tickets, and filter. I have some supsicions that this will not work out well but let's see:

In [8]:
list(itertools.permutations(features[:3]))

[('departure location', 'departure station', 'departure platform'),
 ('departure location', 'departure platform', 'departure station'),
 ('departure station', 'departure location', 'departure platform'),
 ('departure station', 'departure platform', 'departure location'),
 ('departure platform', 'departure location', 'departure station'),
 ('departure platform', 'departure station', 'departure location')]

Okay that is not going to work. Computer got all hot and bothered at that method.

Hmmm maybe we already solved this... ish? Let's try the same method but approach it from the direction of the feature_id\*feature combinations having all *valid* ticket numbers.

In [13]:
ww = (tickets_df
      .assign(key = 1)
      .merge(bounds_df.assign(key = 1))
      .query('(lower < value < upper) or (lower2 < value < upper2)')
      .query("feature in ['train']"))
      
ww.feature_id.value_counts()

16    191
18    190
15    190
13    190
11    190
7     190
3     190
1     190
6     190
12    190
10    189
2     189
4     189
8     189
19    189
14    189
17    189
5     189
0     189
9     187
Name: feature_id, dtype: int64

In [10]:
ww

,ticket_num,feature_id,value,key,feature,lower,upper,lower2,upper2
12,-1,0,79,1,price,35,692,706,957
32,-1,1,149,1,price,35,692,706,957
52,-1,2,97,1,price,35,692,706,957
72,-1,3,163,1,price,35,692,706,957
92,-1,4,59,1,price,35,692,706,957
...,...,...,...,...,...,...,...,...,...
76312,238,15,283,1,price,35,692,706,957
76332,238,16,172,1,price,35,692,706,957
76352,238,17,833,1,price,35,692,706,957
76372,238,18,942,1,price,35,692,706,957
76392,238,19,712,1,price,35,692,706,957

In [11]:
ww = (ww
      .assign(n = 1)
      [['feature', 'feature_id', 'n']]
      .groupby(['feature', 'feature_id'])
      .count()
     .reset_index())
ww

   feature  feature_id    n
0    price           0  190
1    price           1  189
2    price           2  188
3    price           3  189
4    price           4  190
5    price           5  189
6    price           6  190
7    price           7  190
8    price           8  188
9    price           9  189
10   price          10  189
11   price          11  187
12   price          12  189
13   price          13  189
14   price          14  189
15   price          15  189
16   price          16  191
17   price          17  189
18   price          18  190
19   price          19  190

In [12]:
ww2 = ww.copy()[ww.n == n_passengers]
ww2

NameError: name 'n_passengers' is not defined

In [ ]:
n_passengers = len(tickets_df.ticket_num.drop_duplicates())
feature_counts = (tickets_df
                 .assign(key = 1)
                 .merge(bounds_df.assign(key = 1))
                 .query('(lower < value < upper) or (lower2 < value < upper2)')
                 .assign(n = 1)
                 [['feature', 'feature_id', 'n']]
                 .groupby(['feature', 'feature_id'])
                 .count()
                 .reset_index()
                )
feature_counts.n.value_counts()

In [ ]:
len(tickets_df.ticket_num.drop_duplicates())

So from this we can see that we can eliminate a bunch of possiblities since there are quite a few combinations that yielded fewer valid entries than the number of passengers.

In [ ]:
plausible_pairings = feature_counts.copy()[feature_counts.n == n_passengers]
plausible_pairings

In [ ]:
plausible_pairings.query("feature == 'price'")

In [ ]:
# now it looks like we have some kinda sudoku 
plausible_pairings.feature.value_counts()

In [ ]:
plausible_pairings.query("feature == 'price'")

BOOM BING! I LEARNED A NEW METHOD THAT IS WHAT I WAS JERRYRIGGING THIS WHOLE TIME: SIZE

In [ ]:
plausible_pairings.groupby(['feature']).size()

In [ ]:
pairings = plausible_pairings.groupby(['feature']).size().reset_index().rename(columns={0:'count'}).query('count == 1')
plausible_pairings[plausible_pairings.feature.isin(pairings.feature)]

In [ ]:
# Here are the ones we know for sure
pairings = plausible_pairings.groupby(['feature', 'feature_id']).size().reset_index().rename(columns={0:'count'}).query('count == 1')
pairings = pairings.merge(plausible_pairings, how = 'left')
plausible_pairings = plausible_pairings[~plausible_pairings.feature_id.isin(pairings.feature_id)]
pairings

In [ ]:
# So I think I can do this iterative reduction and counting where we
# remove ones that are forced, remove that id from the original list, recount and rinse

while plausible_pairings.feature.value_counts().min() == 1:
    new_set = (plausible_pairings.groupby(['feature'])
               .size()
               .reset_index()
               .rename(columns={0:'count'})
               .query('count == 1')
               .merge(plausible_pairings, how = 'left')
              )
    pairings = pd.concat([pairings, new_set], axis = 0)
    plausible_pairings = plausible_pairings[~plausible_pairings.feature_id.isin(pairings.feature_id)]

pairings = pairings.reset_index()
pairings

In [ ]:
plausible_pairings.feature.value_counts()

Even though I'm getting to practice a lot more pandas functions for this one, I don't like solving problems in this way. Feels like I'm just doing a process of elimination kinna thing. Well, let's just take this as an opportunity to get better at pd. So here it's not going to take for ever to compute 7! unlike 20! so... I suppose we can just form the possible data frames.

Ok more cross joins:

In [ ]:
for i,feature in enumerate(plausible_pairings.feature.drop_duplicates().tolist()):
    subset = plausible_pairings.copy()[plausible_pairings.feature == feature]
    if i == 0:
        perm_df = pd.DataFrame({'key':1, feature:subset.feature_id})
    else:
        perm_df = perm_df.merge(pd.DataFrame({'key':1, feature:subset.feature_id}))
perm_df

The siliness of this.... Okay so now we can maybe try to apply a row wise function to remove ones without all unique values?

In [ ]:
def all_unique(x):
    return len(x) == x.nunique()

keeps = perm_df.drop(columns = 'key').apply(all_unique, axis = 1)

perm_df = perm_df[keeps]

So that takes about a minute to run which is lovely but now I know how to do rowwise apply kind of things. Guess now we go long and then try all 456 possibilities. Lol

In [ ]:
perm_df_long = (perm_df
                .drop(columns = 'key')
                .reset_index()
                .rename(columns = {'index':'perm'})
                .melt(id_vars = 'perm', value_name = 'feature_id', var_name = 'feature')
                .reset_index())
perm_df_long

In [ ]:
# Do some merging ahead of time so we don't have to repeat it
plausible_pairings = (plausible_pairings
                     .merge(tickets_df)
                     .merge(bounds_df))

plausible_pairings

In [ ]:
perm_df_long.query('perm == 1421218').shape

In [ ]:
subset = (perm_df_long
              .query('perm == 1351913')
              .merge(plausible_pairings)
              .query('(lower < value < upper) or (lower2 < value < upper2)'))
subset

In [ ]:
# K now we basically try all the permutations till we're blue in the face:
for perm in perm_df_long.perm.unique().tolist():
    subset = (perm_df_long
              .query('perm == ' + str(perm))
              .merge(plausible_pairings)
              .query('(lower < value < upper) or (lower2 < value < upper2)'))
    if subset.shape[0] == n_passangers*10:
        golden_perm = perm
        break

In [ ]:
subset

In [ ]:
plausible_pairings.feature.value_counts().index

In [ ]:
result = pd.DataFrame({'feature':[], 'feature_id':[]})
result.dtypes

In [ ]:
plausible_pairings.dtypes

In [ ]:
result = pd.DataFrame(
        {'feature':pd.Series([], dtype = 'object'), 
        'feature_id':pd.Series([], dtype = 'int')}
)

In [ ]:
for i, j in enumerate(['a', 'b']):
    print(i)

### Experiments

In [ ]:
# I wrote this nonsense which seemed cool but was useless:
def get_df_perms(feature):
    subset = plausible_pairings.copy()[plausible_pairings.feature == feature]
    result = pd.DataFrame(
        {'feature':pd.Series([], dtype = 'object'), 
        'feature_id':pd.Series([], dtype = 'int')}
    )
    perms = itertools.permutations(subset.feature_id)
    for perm in perms:
        next_df = pd.DataFrame({'feature':feature, 'feature_id':perm})
        result = pd.concat(
            [result, pd.DataFrame({'feature':feature, 'feature_id':perm})],
            axis = 0
        )
    return result

get_df_perms('departure location')